.dater {
  width: 330px;
  display: table;
}
.dater .dater-col {
  display: table-cell;
  height: 60px;
  overflow-y: auto;
}
.dater .dater-col >li {
  list-style: none;
  padding: 5px 5px;
  color: #f0f0f0;
}
.dater .dater-col >li.checked,
.dater .dater-col >li:hover {
  background-color: #3190e8;
  color: #fff;
}
