.dater
  width:330px
  display table
  .dater-col
    display table-cell
    height 60px
    overflow-y auto
    >li
      list-style none
      padding 5px 5px
      color #f0f0f0
      &.checked,&:hover
        background-color #3190e8
        color #ffffff