div,
p,
span,
ul,
li,
section {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.gray {
  color: #808080;
}
.box {
  display: box;
}
.box .box-cell {
  display: block;
  box-flex: 1;
  flex: 1;
}
.table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.table .table-cell {
  display: table-cell;
  padding: 10px 15px;
}
.button {
  padding: 3px 20px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
.log-txt {
  box-shadow: 0 0 3px #d0d0d0 inset;
  border-radius: 5px;
}
.log-txt p {
  padding: 5px 0;
}
