form {
  width: 500px;
  display: block;
  margin: 0 auto;
  border: solid 1px #f0f0f0;
  border-radius: 5px;
}
form label {
  width: 80px;
  display: inline-block;
}
form input[type="text"],
form select {
  width: 200px;
}
form >div {
  margin: 5px 0;
  border-bottom: solid 1px #d0d0d0;
  padding: 10px 10px;
}
form >div:last-child {
  border: 0;
}
.ckbox-group label {
  margin-right: 10px;
  cursor: pointer;
}
